:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --selection-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background: var(--primary-background);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 500;
}

.list {
  list-style: none;
}

/* Навигация хедера */

.navbar-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.nav-web {
  color: var(--selection-color);
}

.navbar-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current,
.navbar-link:hover,
.navbar-link:focus {
  color: var(--selection-color);
}

/* Контакты хедера */

.contact {
  color: var(--secondary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--selection-color);
}

/* Герой */

.hero {
  background: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопки */

.button {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background: var(--selection-color);
}

.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--selection-color);
}

/* Стратегия */

.strategy-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.strategy-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Занятия и команда */
.command {
  background: #f5f4fa;
}

.work-title,
.command-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Фильтеры */

.filter-link {
  text-decoration: none;
}

.filter-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Футер 

.footer-logo {
  color: #ffffff;
}
*/
.footer {
  background-color: #2f303a;
}

.footer-studio {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: #ffffff;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-contact:hover,
.address-contact:focus {
  color: var(--selection-color);
}
